@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Signika+Negative);
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(http://fonts.googleapis.com/css?family=Tenor+Sans);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,900);

@import "bootstrap-sprockets";
@import 'bootstrap';

$dark_gray: #2B2E2E;
$light_gray: #C0C1C1;
$green: #33CD99;

a {
  color: white;
}

a:hover {
  text-decoration: none;
  background-color: transparent;
}

a:visited {
  color: blue;
}

a.backToTheTop {
  color: blue;
}

.avatar {
  height: 125px;
  margin-left: 23%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.banner {
  color: white;
  padding-top: 10px;
  position: relative;
  width: 1000px;
}

.banner a {
  color: white;
  font-size: 35px;
  font-family: 'Merriweather', serif;
}

.blogboxshow {
  text-align: center;
}

.blogboxshow img {
  max-width: 80%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.blog-edit {
  margin-top: 20px;
}

.blogimages {
  min-width: 500px;
}

.blogimages img {
  max-width:325px;
  max-height:350px;
  width: auto;
  height: auto;
  padding-right: 25px;
  float: left;
}

.blogimages a {
  color: black;
}

.blogcontrols {
  float:right;
  margin: 20px 20px 0 0;
}

.blog-new {
  margin-top: 20px;
}

.blog-show {
  margin-top: 20px;
  min-height: 800px;
}

.blog-show a {
  color: blue;
}

.blog-show-title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.blogshowimages img {
  max-width:325px;
  max-height:350px;
  width: auto;
  height: auto;
  text-align: center;
}

.blog_container {
  margin-bottom: 60px;
}

.blog_search {
  height: 130px;
  box-shadow: 1px 1px 1px #444;
}

.blog_posts {
  height: auto;
  padding: 2px 10px 8px 10px;
  box-shadow: 1px 1px 10px #444;
  overflow: hidden;
  background-color: #fff;
}

.blog_posts a:visited {
  color: black;
}

.blogshowlinks a {
  color: black;
}

.blog_video a {
  text-align: center;
}

body {
  background-image: linear-gradient(#2B2E2E, white);
  background-repeat: none;
  color: black;
}

.container {
  width: 95%;
  padding-top: 0px;
  overflow: hidden;
  margin: auto;
}

.devise-pages {
  margin-top: 20px;
  min-height: 800px;
}

.banner-container {
  height: 75px;
  border-bottom: 7px solid $green;
  color: white;
  padding-left: 15px;
  padding-top: 0px;
  overflow: hidden;
  width: 1000px;
  margin: 0 auto;
}

h4.links-title {
  text-align: center;
}

hr.post {
  border: 0;
  height: 1px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

.header-list {
  list-style-type: none;
}

.header-list li a {
  text-decoration: none;
  color: white;
  display: inline;
  float: left;
  padding: 0px;
  margin: -17px 10px 0 10px;
}

.header-list li a:hover {
  background-color: transparent;
}

.helpful-links {

}

.helpful-links a {
  color: blue;
}

.helpful-links ul {
  list-style-type: disc;
  padding-left: 10px;
}

.helpful-links-page {
  min-height: 800px;
  width: 800px;
  margin: 0 auto;
}

.helpful-links-page a {
  color: blue;
}

.helpful-links-page ul {
  list-style-type: disc;
  padding-left: 10px;
}

.helpful-links-page-well {
  margin-top: 20px;
}

.home-container {
  width: 1000px;
  margin: 0 auto;
}

.navbar {
  background-color: red;
  border: none;
}

.recent_posts {
  box-shadow: 1px 1px 1px #444;
}
 
.recent_posts a {
  color: blue;
} 

.right-list {
  margin-left: 39px;
  padding: 0px;
  height: 40px;
} 

.right-list a {
  color: black;
}

.right-list a:visited {
  color: black;
}

.right-list li {
  display: inline;
  color: black;
  margin: 0 10px 0 25px;
}

.right-list a:hover {
  background-color: transparent;
}

.right-nav {
  float: right;
  width: 300px;
  margin-right: 90px;
} 

.right-row-1 {
  background-color: #fff;
  border-radius: 4px;
}

span.glyphicon-envelope {
    font-size: 1.8em;
    color: black;
    vertical-align: middle;
}

.tags a {
  padding: 6px 7px;
  margin-right: 0;
  margin-bottom: 4px;
  line-height: 100%;
  display: inline-block;
  color: black !important;
  background-color: #DADADA;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  font-size: 12px !important;
  -webkit-transition: all 0.3s;
  transition: all 0.5s;
}

.tags a:hover {
  background-color: red;
  color: #FFF !important;
}
.twitter-link {

}

.well {
  background-color: #fff;
}

@media (max-width: 1198px) {
 
}

@media (max-width: 970px) {
  
}

#inner {
  width: 680px;
  height: auto;
  border: black;
  background-color: transparent;
  float: left;
  overflow: hidden;
}

#left-column #right-column {

}

#right-column {
  float: left;
  height: 1200px;
  width: 300px;
  padding-top: 20px;
  padding-right: 5px;
  margin-left: 15px;
  color: black;
}