@import "bootstrap-sprockets";
@import 'bootstrap';

.banner {
  color: white;
  font-size: 35px;
  font-family: "Lucida Grande", Arial, Helvetica, Verdana, sans-serif;
  margin-left: 20px;
}

.banner a:hover {
  background-color: transparent;
  text-decoration: none;
}

.banner a:visited {
  color: white;
}

.banner-container {
  width: 1170px;
  margin: auto;
  padding-top: 10px;
}

.blogboxshow {
  text-align: center;
}

.blogboxshow img {
  max-width: 80%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.blogimages {
  width: 575px;
  min-width: 500px;
}

.blogimages img {
  max-width:325px;
  max-height:350px;
  width: auto;
  height: auto;
  padding-right: 25px;
  float: left;
}

.blogimages a {
  padding-right: 15px;
  
}
.blogcontrols {
  float:right;
  margin: 20px 20px 0 0;
}

.blogshowimages img {
  max-width:325px;
  max-height:350px;
  width: auto;
  height: auto;
  text-align: center;
}

.blog_container {
  margin-bottom: 60px;
}

.blog_search {
  height: 130px;
  box-shadow: 1px 1px 1px #444;
}

.blog_posts {
  width: 670px;
  height: auto;
  padding-left: 9px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-top: 2px;
  box-shadow: 1px 1px 10px #444;
  overflow: hidden;
  background-color: #fff;
}

.blog_posts a:visited {
  color: black;
}

.blogshowlinks a {
  color: black;
}

.blog_video a {
  text-align: center;
}

body {
  background-color: #222;
}

.container {
  width: 95%;
  padding-top: 0px;
  overflow: hidden;
  margin: auto;
}

.header {
  height: 75px;
  background-image: linear-gradient(#e31b23, #b32024);
}

hr.post {
  border: 0;
  height: 1px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

.header-list {
  list-style-type: none;
}

.header-list li a {
  text-decoration: none;
  color: white;
  display: inline;
  float: left;
  padding: 0px;
  margin: -17px 10px 0 10px;
}

.header-list li a:hover {
  background-color: transparent;
}

.home-container {
  width: 1000px;
  margin: 0 auto;
}

.navbar {
  background-color: red;
  border: none;
}

.recent_posts {
  box-shadow: 1px 1px 1px #444;
}
 
.right-list {
  padding: 0px;
  height: 40px;
} 

.right-list li {
  display: inline;
  color: white;
  margin: 0 10px 0 10px;
}

.right-list a:hover {
  background-color: transparent;
}

.right-nav {
  float: right;
  width: 300px;
} 

span.glyphicon-envelope {
    font-size: 1.8em;
    color: #5DA8DD;
    vertical-align: middle;
}

.twitter-link {

}

@media (max-width: 1198px) {
 
}

@media (max-width: 970px) {
  
}

#inner {
  width: 700px;
  height: auto;
  border: black;
  background-color: #222;
  float: left;
  overflow: hidden;
}

#left-column #right-column {

}

#right-column {
  float: left;
  height: 1200px;
  width: 300px;
  padding-top: 20px;
  padding-right: 5px;

}